Dash #Canvas {
  border-style: solid;
  border-width: 1px;
  border-left-color: #252525;
  border-right-color: #3f3f3f;
  border-top-color: #252525;
  border-bottom-color: #3f3f3f;
  background-color: #323232; }
Dash WorkspaceDelegate {
  border-style: solid;
  border-width: 1px;
  border-left-color: #252525;
  border-right-color: #3f3f3f;
  border-top-color: #252525;
  border-bottom-color: #3f3f3f;
  background-color: #191919;
  margin: 3px 3px 0px 3px;
  padding-left: 3px;
  text-align: left;
  border-right: 3px solid #bf4040;
  border-right: 3px solid orange; }
  Dash WorkspaceDelegate:hover {
    background-color: #734026; }
  Dash WorkspaceDelegate:checked {
    background-color: #995533; }
  Dash WorkspaceDelegate:checked:hover {
    background-color: #ac6039; }
  Dash WorkspaceDelegate:pressed {
    background-color: #bf6a40; }
Dash CommandDelegate {
  background-color: #191919; }
