Dash #Canvas {
  border-style: solid;
  border-width: 1px;
  border-left-color: #252525;
  border-right-color: #656565;
  border-top-color: #252525;
  border-bottom-color: #656565;
  background-color: #323232; }
Dash WorkspaceItem, Dash AppItem {
  border-style: solid;
  border-width: 1px;
  border-left-color: #252525;
  border-right-color: #656565;
  border-top-color: #252525;
  border-bottom-color: #656565;
  background-color: #191919;
  min-height: 40px;
  min-width: 70px;
  margin: 3px 3px 0px 3px;
  padding-left: 3px;
  text-align: left;
  border-right: 3px solid #bf4040; }
  Dash WorkspaceItem:hover, Dash AppItem:hover {
    background-color: #734026; }
Dash CommandItem {
  background-color: #191919; }
